* {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(image/isamm.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding-left: 40px;
  padding-right: 60px;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 300px;
  height: 120px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 35px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #29a9ef;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  margin: 10px 0 40px;
  font-size: 60px;
  color: #fff;
}
.text-box p {
  margin-top: 100px;
  font-size: 22px;
}
.hero-btn {
  margin-top: 120px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #42b5f2;
  background: #29a9ef;
  transition: 1s;
}
nav .fa {
  display: none;
}

/*-----course--*/

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5%;
}

tr {
  display: flex;
  justify-content: space-between;
}
td h3 {
  color: #fff;
  font-size: 22px;
}
td p {
  color: #bbbbbb;
  font-size: 18px;
}
td {
  flex-basis: 30%;
  background: #306d90;
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

td h3 {
  text-align: center;
  margin: 10px 0;
}

td:hover {
  box-shadow: 10px 10px 30px 0px rgba(12, 11, 11, 0.2);
}

/*--------call to action ---*/
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(image/reunion.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
/*--------footer ---*/
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #306d90;
  padding: 70px 0;
}
.footer-col {
  width: 31%;
  margin-right: 200px;
}
.footer-col h2 {
  font-size: 26px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #29a9ef;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col ul li i {
  margin-right: 10px;
  font-size: 20px;
}
.footer-col .social-links {
  margin-top: 30px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
/*----about us page--*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(image/graduation.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1 {
  margin-top: 100px;
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 20px;
  padding-bottom: 50px;
}
.about-col p {
  padding: 15px 0 25px;
  font-size: 18px;
}
.red-btn {
  border: 1px solid #29a9ef;
  background: transparent;
  color: #29a9ef;
}
.red-btn:hover {
  color: #fff;
}
/*--------blog-content------*/
.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}
.blog-left {
  flex-basis: 65%;
}
.blog-left img {
  width: 100%;
}
.blog-left h2 {
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin: 30px 0;
  font-size: 30px;
}
.blog-right {
  flex-basis: 32%;
  margin-top: 120px;
  margin-left: 40px;
}
.blog-right h3 {
  background-color: #306d90;
  color: #fff;
  padding: 7px 0;
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 20px;
}
.blog-right span {
  padding-left: 20px;
  font-size: 18px;
}
.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 8px;
  box-sizing: border-box;
}
.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}
.comment-box h3 {
  text-align: left;
}
.comment-box h3 {
  text-align: left;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}
.comment-form button {
  margin: 10px 0;
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
/*contact us----*/
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 28px;
  color: #29a9ef;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p {
  padding: 0;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
